DISCORD_TOKEN=replace_with_bot_token
CLIENT_ID=replace_with_application_id
DISCORD_OWNER_ID=1094063045866684496
MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=deaplo_discord_bot
LOG_LEVEL=info
